<div class="flex flex-row items-center justify-between p-3 text-white bg-slate-950">
    <span class="text-sm text-slate-500">
        Release Date: {{releaseDate|date:'dd-MM-yyyy'}}
    </span>
    <span class="text-sm text-slate-500">Converions: {{totalConversions|async}}</span>
    <span class="text-sm text-slate-500">Created with <i class="fa-solid fa-heart text-red-500"></i> by <a
            href="https://anastasios.theodosiou.me" target="_blank" class="font-semibold hover:text-white">Anastasios
            Theodosiou</a></span>
</div>