<app-header [validInput]="appService.valid|async" (transform)="appService.triggerTransform()"></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<div *ngIf="appService.loading|async" class='w-full fixed top-0'>
    <div class='h-0.5 w-full bg-transparent overflow-hidden'>
        <div class='progress w-full h-full bg-emerald-500 left-right'></div>
    </div>
</div>

<div *ngIf="appService.copy|async"
    class="fixed bottom-14 right-1/2 bg-emerald-500 text-white rounded-lg px-3 py-2 z-10 shadow-lg border border-gray-100 w-52">
    Data copied to clipboard!
</div>